name: Check

on:
  push:
    branches:
      - main
  pull_request: {}

concurrency:
  group: ${{ github.workflow }}-${{ github.ref == 'refs/heads/main' && github.run_number || github.ref }}
  cancel-in-progress: true

jobs:
  checks:
    name: ${{ matrix.name }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version:
          - "3.9"
          - "3.10"
          - "3.11"
          - "3.12"
          - "3.13"
          - "3.14"

    steps:
    - uses: actions/checkout@v5

    - name: Install uv and set the python version
      uses: astral-sh/setup-uv@v6
      with:
        enable-cache: true
        python-version: ${{ matrix.python-version }}
        version: 0.9.0

    - name: Install the project (Python 3.9)
      if: matrix.python-version == '3.9'
      run: uv sync --extra dev

    - name: Install the project (Python 3.10+)
      if: matrix.python-version != '3.9'
      run: uv sync --extra dev --extra eval

    - name: Lint code with Ruff
      run: uv run ruff check --output-format=github

    - name: Check code formatting with Ruff
      run: uv run ruff format --diff

    - name: Run type checks with mypy (Python 3.9)
      if: matrix.python-version == '3.9'
      run: uv run mypy --strict src/ale_bench tests

    - name: Run type checks with mypy (Python 3.10+)
      if: matrix.python-version != '3.9'
      run: uv run mypy --strict src/ale_bench src/ale_bench_eval tests

    - name: Run tests
      run: uv run pytest -m "not docker and not slow"
